.sign-up-container {
    display: flex;
    flex-direction: c;
    width: 380px;

    h2 {
        margin: 10px 0px ;
    }
}
.buttons-container {
    display: flex;
    justify-content: space-around;
}